.git
.github
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd

.env
data
docs

tools/puppeteer/node_modules
tools/playwright/node_modules
web/node_modules
web/.next

README.md
